body {
	background: #eaefd3;
	color: #211103;
}

h1, h2, h3, h4, h5, h6 {
	color: #0e0909;
}

hr {
	border-color: #c16200;
	background: #c16200;
}

.burgersToEat, .burgersEaten {
	margin-top: 1em;
	padding: 10px 20px;
	min-height: 130px;
	background: #dadfc3;
	border-radius: 5px;
	z-index: -1;
}

.centerBox {
	position: relative;
	width: 25%;
	z-index: 2;
}

.burgersToEat img, .burgersEaten img {
	height: 100px;
	width: auto;
	position: relative;
	display: inline-block;
	right: 5%;
}

ul {margin: 0 15px;}
li {
	list-style-type: none;
	display: flex; /* or inline-flex */
	justify-content: space-between;
}

.inlineForm, .inlineText {
	display: inline-block;
}
.inlineText {
	padding: .5em 0;
}

button.mainColor[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
  background: #a19193;
}

button.mainColor {
	background: #c16200;
	color: #0e0909;
	font-weight: 800;
	width: 100%;
} button:hover.mainColor {
	font-weight: 400;
	background: #881600;
	color: #eaefd3;
	border: solid 1px #c16200;
} button:active.mainColor {
	font-weight: 400;
	background: #4e0110;
	color: #eaefd3;
}

.sectionHeader {
	position: relative;
	height: 130px;
	width: 100%;
}

.headerImg {
	opacity: 0.5;
	margin-top: 0px;
    color: #fff;
    width: 100%;
    height: 150px;
    overflow: hidden;
	position: absolute;
	top:0; left:0;
	z-index:-1;
} .topImg {
	background: url(https://cdn.unos.com/images/menus/sandwiches/sliders.jpg) center;
	background-size: cover;
}

header {
	height: 150px;
}

header h1, header h3 {
	width: 80%;
	margin: .25em auto;
}

@media screen and (max-width: 850px) {
	h3 {
		display: none;
	}
	button.mainColor {
		width: 50%;
		padding: .5em;
		margin-left: 25%;
	}
}

@media screen and (max-width: 765px) {
	.sectionHeader {
		height: 75px;
	}
	.row.gutters .centerBox.col {
		display: block;
		position: relative;
		right: -92%;
		top: -60px;
		z-index: -1;
	}
	.burgersToEat img, .burgersEaten img {
		height: 55px;
	}
}

.color-focus {
	color: #1c86f2;
}
.color-error {
	color: #4e0110;
}

.newBurgerForm form {
	margin: .5em;
	margin-bottom: .5em;
	padding: 1em;
	background: #c16200;
	border: solid 1px #4e0110;
	border-radius: 5px;
} input {
	display: block;
} .newBurgerForm button {
	background: #e19220;
	font-weight: 800;
	position: relative;
	width: 33%;
	margin: .5em auto;
	display: block;
	margin-bottom: 0;
}

footer {
	margin-top: 1em;
	padding-top: 1em;
	background: #c16200;
	color: #0e0909;
}

footer p {
	text-align: center;
}
